<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlet.ProductServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/list.product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>*.user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>*.cart</url-pattern>
  </servlet-mapping>	
  
 	<filter>
 		<filter-name>UnicodeFilter</filter-name>
 		<filter-class>filter.UnicodeFilter</filter-class>
 	</filter>
 	<filter>
 		<filter-name>CheckUserFilter</filter-name>
 		<filter-class>filter.CheckUserFilter</filter-class>
 	</filter>
  	<filter-mapping>
  		<filter-name>UnicodeFilter</filter-name>
<!--   			过滤所有请求 -->
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
  		<filter-name>CheckUserFilter</filter-name>
<!--   			过滤未登录用户下所有购物车的操作 -->
  		<url-pattern>*.cart</url-pattern>
  	</filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
